     
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="department.name"
            name="title"
          />
        </div>
  
  
        <button (click)="saveDepartment()" class="btn btn-success">Submit</button>
      </div>
    </div>
    <div class="col-md-6">
        <h4>department List</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let department of departments; let i = index"       >
            {{ department.name }}
          </li>
        </ul>
    
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllDepartments()">
          Remove All
        </button>
      </div>
  </div>
      