<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="6">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <h1>Find your account</h1>
                  <p class="text-medium-emphasis">Please enter your email to search for your account.</p>
                  <c-input-group class="mb-3">
                    <input formControlName="email" autoComplete="email" cFormControl placeholder="email" />
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Search
                        </button>
                        <a routerLink="/login" class="btn btn-link">Annuler</a>
                    </c-col>
                    
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  