<div mat-dialog-content>

<div class="submit-form">


    <div>
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="entity.name"
          name="title"
        />
      </div>
    
     
      <div class="form-group">
        <label for="country">Country</label>
        <c-input-group class="mb-3"> 
          <select   aria-label="Disabled select example" cSelect  [(ngModel)]="countrySelected"  >
            <option value="" disabled selected>Select Country</option>
            <option *ngFor="let country of countries"   [ngValue]="country" >{{country.name}}</option>
          </select>
        </c-input-group> 
      </div>
      <button (click)="saveEntity()" class="btn btn-success">Submit</button>
    </div>
  </div>
  </div>