         
<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Settings</strong> 
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">

        </p>
          <div cListGroup>
            <a (click)="detail()" cListGroupItem >
              Update Profile
            </a>
            <a (click)="reset()" cListGroupItem >
              Reset password
            </a>           
          </div>
      </c-card-body>
    </c-card>
  </c-col>