     
<div>
   
    <h4>Entities List</h4>

    <c-row>
    
      <c-col xs>
         
          <c-card class="mb-4">
          
            <c-card-header>Users</c-card-header>
            <div  class="divider d-flex justify-content-center">       
              <c-col xl="11" md="6" sm="6">
              </c-col>
              <c-col xl="3" md="6" sm="6">
              <button cCol=""  (click)="openDialog()" color="light">Add Consultant
                  <svg cIcon name="cilPeople"></svg>
              </button>
            </c-col>
      
            </div>
            <c-card-body>
              <table
                [hover]="true"
                [responsive]="true"
                [striped]="true"
                align="middle"
                cTable
                class="mb-0 border"
              >
              
                <thead cTableColor="light">
                  <tr>
                     <th>Entity Name</th>
              <th>Country Code</th>
                    <th >Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entity of entities" >
                  <td>{{ entity.name }}</td>
                      
          
                    <td >
                      <svg
                      cIcon
                      id="{{ entity.countryCode + entity.name! }}"
                      name="cif{{ entity?.countryCode }}"
                      size="xl"
                      title="{{ entity?.countryCode }}"
                    ></svg>
                    
                    <td>
                            
                      <button cButton shape="sm" (click)="removeEntities(entity.id)" size="sm" color="info">Delete
                      </button>              
                  </td>
                  </tr>
                </tbody>
              </table>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEntities()">
      Remove All
    </button>
</div>



      