<c-row>
    
    <c-col xs>
       
        <c-card class="mb-4">
        
          <c-card-header>Equipment Requests </c-card-header>

          <div  class="divider d-flex justify-content-center">
             <c-col xl="11" md="6" sm="6">
        </c-col>


          </div>
          <c-card-body>
            <table
              [hover]="true"
              [responsive]="true"
              [striped]="true"
              align="middle"
              cTable
              class="mb-0 border"
            >
            
              <thead cTableColor="light">
                <tr>
                <th>Consultants</th>
                  <th >Type</th>
                  <th >status</th> 
                  <th >Action</th>          
         
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let request of requests; index as i"
                    [class.selected]="request.id === selectedId">
                          
                    <td>
                    
                        <div class="d-flex justify-content-between">
    
                        <div>{{ request.userId.firstname}} {{ request.userId.lastName}}</div>
    
                        </div>
    
                      </td>      
                  
               
                  <td>
                    <div class="d-flex justify-content-between">
                      <div class="float-start">
                        <strong>{{ request.type }}</strong>
                      </div>
                    </div>           
                  </td>
                  <td>
    
                  <div  class="d-flex justify-content-between">

                    <small class="text-medium-emphasis">
                      {{ request.status }}
                    </small>
                  </div>
                  </td>
               
                <td >
                  <button 
                    cButton shape="sm" [disabled]="request.status == 'validated'"  size="sm" (click)="openDialog(request,request.equipmentName)" color="primary">Validate
                  </button>              
                  <button *ngIf="request.interneStatus == 'validated'"  cButton shape="sm" size="sm" (click)="editRequest(request)" color="info">Edit Request
                  </button> 
              
              </td>
                </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>