
  <div>
  <c-row>
  
    <c-col xs>
       
        <c-card class="mb-4">
        
          <c-card-body>

          <div class="submit-form">
            <div >
              <form cForm [formGroup]="form" (ngSubmit)="saveEquipment()" >

              <div class="form-group">
                <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            formControlName="name"
            name="title"
          />
          <label for="reference">Reference</label>

          <input
          type="text"
          class="form-control"
          id="reference"
          required
          formControlName="reference"
          name="title"
        />
              

                <div *ngIf='!validForm '>
                  department name is required
                </div>
                <button  class="btn border-start-danger">Submit</button>

              </div>
              </form>
            </div>
          </div>
          </c-card-body>
          <c-card-body>
            <table
              [hover]="true"
              [responsive]="true"
              [striped]="true"
              align="middle"
              cTable
              class="mb-0 border"
            >
            
              <thead cTableColor="light">
                <tr>
                   <th>Equipment name </th>
                   <th>Equipment reference </th>

                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let equipment of equipments" >
                <td>{{ equipment.name  }}</td>
                <td>{{ equipment.reference  }}</td>

                 <td>           
                  <a (click)="removeEquipment(equipment.id)" cDropdownItem>
                    <svg cIcon class="me-2" name="cil-trash"></svg>
  
                  </a>
                 </td>   
               </tr>
              </tbody>
            </table>
          </c-card-body>
          <c-card-body class="p-4">
            <button cButton shape="sm" (click)="removeAllEquipments()"   size="sm" color="info">
              Remove All
              </button> 
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
</div>



    
      