<c-col xs="12">
    <c-card class="mb-3">
      <c-card-header ngPreserveWhitespaces>
      </c-card-header>
      <c-card-body>
        <c-nav variant="tabs">
          <c-nav-item *ngFor="let department of departments; index as i; first as isFirst; last as isLast">
            <a [cTabContent]="tabContent2"  (click)="onNavClick(department.id)"   [routerLink] [tabPaneIdx]="i"

               cNavLink>
              <svg cIcon class="me-2" name="cilHome"></svg>
              {{department.name}}
            </a>
          </c-nav-item>
        </c-nav>
        <c-tab-content #tabContent2="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
          <c-tab-pane   *ngFor="let department of departments; index as i;" class="p-3 preview">
            <c-card class="mb-4">
              <c-card-header>
                <strong>Team Managment</strong>
              </c-card-header>
              <c-card-body>
                <p class="text-medium-emphasis small">
                <button cCol="" class="btn btn-primary" routerLink="/setup/createTeam" color="light"> Create Team
                  <svg cIcon name="cilPeople"></svg>
                </button>
               
              
              </p>
                  <c-accordion [alwaysOpen]="false" [flush]="false" class="shadow rounded-2">
                    <c-accordion-item *ngFor="let team of teams; index as i;"  #item1="cAccordionItem" [visible]="false">
                      <ng-template cTemplateId="accordionHeaderTemplate">
                        <button  (click)="showUsers(department,team)"  (click)="item1.toggleItem()" [collapsed]="!item1.visible" cAccordionButton>
                        {{team.name}}
                        </button>

                      </ng-template>
                      <ng-template cBgColor="info" ngIf="show_Users" cTemplateId="accordionBodyTemplate">
                          <button cCol="" class="btn btn-primary" (click)="onBtnClicked()" color="light"> delete consultant
                            <svg cIcon name="cilPeople"></svg>
                          </button>
                          <button cCol="" class="btn btn-primary" (click)="updateTeam(team)" color="light"> update team
                            <svg cIcon name="cilPeople"></svg>
                          </button>
                          <button cCol="" class="btn btn-primary" (click)="deleteTeam(team)" color="light"> delete team
                            <svg cIcon name="cilPeople"></svg>
                          </button>
                        <div *ngFor="let user of users" class="accordion-body">
                          <table>
                            <tr>
                              <td>

                              <input  [(ngModel)]="user.selected"  type="checkbox" />

                              <strong>{{user.firstname}} {{user.lastName}} 
                              </strong>
                            </td>
                        
                            <tr>
                              <td>

                              {{user.role?.role}}
                            </td>

                            </tr>

                          </table>
                          
                       
                        </div>

                      </ng-template>
                    </c-accordion-item>
                  </c-accordion>
              </c-card-body>
            </c-card>

          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>