<c-row>
    
<c-col xs>
   
    <c-card class="mb-4">
    
      <c-card-header>Users</c-card-header>
      <div  class="divider d-flex justify-content-center">       
        <c-col xl="11" md="6" sm="6">
        </c-col>
        <c-col xl="3" md="6" sm="6">
        <button cCol="" routerLink="/home/setup/addConsulant" color="light">Add Consultant
            <svg cIcon name="cilPeople"></svg>
        </button>
      </c-col>

      </div>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
        
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Employe</th>
              <th class="text-center">Birthday Info</th>
              <th>Entity</th>
              <th class="text-center">Email</th>
              <th class="text-center">cotractStartDate</th>          
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let user of users; index as i"
                [class.selected]="user.id === selectedId">
                      
                   
             
              <td  class="text-center">
                
                <c-avatar
                size="md"
                [src]="user.imagedb"
                status="{{ user.active }}"
                >
                </c-avatar>
                </td>
              <td>
                <div>{{ user.firstname }} </div>
                <div>{{ user.lastName }} </div>

              </td>
              <td>

              <div class="small text-medium-emphasis text-nowrap">
                <span>
                 {{user.country}} | Registered: {{ user.birthdayDate }}
                </span>
              </div> 
            </td>
              <td class="text-center">
                <svg
                  cIcon
                  id="{{ user.entity?.countryCode  + user.firstname! }}"
                  name="cif{{ user.entity?.countryCode }}"
                  size="xl"
                  title="{{ user.entity?.countryCode }}"
                >
                    {{ user.entity?.name }} 
            </svg>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.email }}</strong>
                  </div>
                </div>           
              </td>
              <td>

              <div class="float-end ms-1 text-nowrap">
                <small class="text-medium-emphasis">
                  {{ user.cotractStartDate }}
                </small>
              </div>
              </td>
              <td>
                <button cButton shape="sm" (click)="updateConsultant(user)" size="sm" color="primary">Update
                </button>              
                <button cButton shape="sm" (click)="deleteConsultant(user)" size="sm" color="info">Delete
                </button>  
            
            </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>