<c-row>
    
<c-col xs>
   
    <c-card class="mb-4">
    
      <c-card-header>Users</c-card-header>
      <div  class="divider d-flex justify-content-center">       
        <c-col xl="11" md="6" sm="6">
        </c-col>
        <c-col xl="3" md="6" sm="6">
        <button cCol="" routerLink="/setup/addConsulant" color="light">Add Consultant
            <svg cIcon name="cilPeople"></svg>
        </button>
      </c-col>
      </div>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
        
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>Employe</th>
              <th class="text-center">Entity</th>
              <th >Email</th>
              <th >Contract Start Date</th>
              <th >Active</th>          
          
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let user of users; index as i"
                [class.selected]="user.id === selectedId">
              <td  class="text-center"> 
                <c-avatar
                size="md"
                [src]="user.imagedb"
                status="{{ user.status }}">
                </c-avatar>
                </td>
              <td>
                <div>{{ user.firstname }} {{ user.lastName }}  </div>

              </td>
              
    
              <td class="text-center">
                <svg
                cIcon
                id="{{ user.entity?.countryCode + user.firstname! }}"
                name="cif{{ user.entity?.countryCode }}"
                size="xl"
                title="{{ user.entity?.countryCode }}"
              ></svg>
            {{ user.entity?.name }} 

              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.email }}</strong>
                  </div>
                </div>           
              </td>
              <td>

              <div class="d-flex justify-content-between">
                <small class="text-medium-emphasis">
                  {{ user.contractStartDate | date: 'dd/MM/yyyy'}}  
                </small>
              </div>
              </td>
              <td>

                <div class="d-flex justify-content-between">
                  <small class="text-medium-emphasis">
                    {{ user.actif | yesNo }}  
                  </small>
                </div>
                </td>
              <td> 
               
                <a (click)="updateConsultant(user)" cDropdownItem>update
                  <svg cIcon class="me-2" name="cil-crop-rotate"></svg>
                </a>
                <a (click)="detailConsultant(user)" cDropdownItem>detail
                  <svg cIcon class="me-2" name="cil-magnifying-glass"></svg>
                </a>
                <a (click)="transferConsultant(user)" cDropdownItem>transfer
                  <svg cIcon class="me-2" name="cil-transfer"></svg>
                </a>  
                <a (click)="openDialog(user)" cDropdownItem> Delete
                  <svg cIcon class="me-2" name="cil-trash"></svg>
                </a>          
            </td>
            </tr>
          </tbody>
        </table>
      
      </c-card-body>

    </c-card>
  </c-col>
</c-row>