
       
<div>
   
  <c-row>
  
    <c-col xs>
       
        <c-card class="mb-4">
        
          <c-card-header>Poste List</c-card-header>
          <c-card-body>

          <div class="submit-form">
            <div>
              <form cForm [formGroup]="form" (ngSubmit)="savePoste()" >

              <div class="form-group">
                <label for="title">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  required
                  formControlName="poste"
                  name="title"
                />
                <div *ngIf='!validForm '>
                  Poste name is required
              </div>
                <button  class="btn border-start-danger">Submit</button>
                
              </div>
              </form>
        
            </div>
          </div>
          </c-card-body>
          <c-card-body>
            <table
              [hover]="true"
              [responsive]="true"
              [striped]="true"
              align="middle"
              cTable
              class="mb-0 border"
            >
            
              <thead cTableColor="light">
                <tr>
                   <th>Poste name </th>
                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let poste of postes" >
                <td>{{ poste.name  }}</td>
                 <td>           
                  <a (click)="removePoste(poste.id)" cDropdownItem>
                    <svg cIcon class="me-2" name="cil-trash"></svg>
  
                  </a>
                 </td>   
               </tr>
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  <button class="m-3 btn btn-sm btn-success" (click)="removeAllPostes()">
    Remove All
  </button>
</div>



    
      