     
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="poste.name"
            name="title"
          />
        </div>
  
  
        <button (click)="savePoste()" class="btn btn-success">Submit</button>
      </div>
    </div>
    <div class="col-md-6">
        <h4>postes List</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let poste of postes; let i = index"       >
            {{ poste.name }}
          </li>
        </ul>
    
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllPostes()">
          Remove All
        </button>
      </div>
  </div>
      